.header{
    display: flex;
    justify-content: center;
}

.grid img{
    display: flex;
    border: 2px solid #000000;
    border-radius: 50px;
}

.origami{
    border: 2px solid #000000;
    border-radius: 50px;

    width: 310px;
    background-color: rgb(147, 241, 210);
    font-family: cursive;
}

h3 {
    background-color: rgb(147, 241, 210);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid{
    background-color: #ffffff;
}

/*a:link{
    color:white
}

a:visited{
    color:white
}
*/

.header{
    position: absolute;
    left: 50%;
    transform: translate(-50%,+30%);
}

.origami:hover{
    transform: scale(1.2);
}

.origami:hover p{
    opacity: 0;
}

.origami:hover li{
    opacity: 0;
}

.origami:hover img{
    opacity: 1;
    transform: translate(-0%,+50%);
}

