.header{
    display: flex;
    justify-content: center;
}

.grid img{
    display: flex;
    border: 2px solid black;
    border-radius: 50px;
}

.origami{
    background-color: rgb(147, 241, 210);
    font-family: cursive;
}

.menu{
    display: flex;
    margin-left: 60%;
}

h3 {
    background-color: rgb(147, 241, 210);
}
