.header{
    display: flex;
    justify-content: center;
}

.grid img{
    display: flex;
    border: 2px solid #000000;
    border-radius: 50px;
}

.origami{
    border: 2px solid #000000;
    border-radius: 50px;

    width: 310px;
    background-color: rgb(147, 241, 210);
    font-family: cursive;
}

.menu{
    display: flex;
    margin-left: 60%;
}

h3 {
    background-color: rgb(147, 241, 210);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid{
    background-color: #ffffff;
}


